.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 1;
  /* padding: 1rem; */

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.Nav-black {
  background-color: #111;
}

.Nav-logo {
  position: fixed;
  left: 1rem;
  width: 10vw;
  object-fit: contain;
}

.Nav-avatar {
  position: fixed;
  right: 1rem;
  margin-top: 1rem;
  width: 4vw;
  object-fit: contain;
}
